IblLog.log
bin64/*.map
bin64/*.pdb
bin64/*.ilk
bin64/Debug
bin64/Release
Build64/*
lib/*
data/meshes/pistol/pistol.obj
src/IBLBaker.opensdf
src/IBLBaker.sdf
src/IBLBaker.v11.suo
src/IBLBaker.v12.suo
src/IBLBaker.vcxproj.user
src/build/x64/Debug/IBLBaker.log
src/build/x64/Release/IBLBaker.log
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.log
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.pch
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.res
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/debug64/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/debug64/LoadOGL.obj
src/dependencies/AntTweakBar/src/debug64/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/debug64/TwBar.obj
src/dependencies/AntTweakBar/src/debug64/TwColors.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D10.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11.obj
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectCstColorVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextCstColorVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/debug64/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/debug64/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/debug64/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/debug64/TwEventSFML.obj
src/dependencies/AntTweakBar/src/debug64/TwEventWin.obj
src/dependencies/AntTweakBar/src/debug64/TwFonts.obj
src/dependencies/AntTweakBar/src/debug64/TwMgr.obj
src/dependencies/AntTweakBar/src/debug64/TwOpenGL.obj
src/dependencies/AntTweakBar/src/debug64/TwPrecomp.obj
src/dependencies/AntTweakBar/src/debug64/vc120.pdb
src/dependencies/AntTweakBar/src/release64/AntTweakBar.log
src/dependencies/AntTweakBar/src/release64/AntTweakBar.pch
src/dependencies/AntTweakBar/src/release64/AntTweakBar.res
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/release64/AntTweakBar64.Build.CppClean.log
src/dependencies/AntTweakBar/src/release64/LoadOGL.obj
src/dependencies/AntTweakBar/src/release64/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/release64/TwBar.obj
src/dependencies/AntTweakBar/src/release64/TwColors.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D10.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D11.obj
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectCstColorVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextCstColorVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/release64/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/release64/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/release64/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/release64/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/release64/TwEventSFML.obj
src/dependencies/AntTweakBar/src/release64/TwEventWin.obj
src/dependencies/AntTweakBar/src/release64/TwFonts.obj
src/dependencies/AntTweakBar/src/release64/TwMgr.obj
src/dependencies/AntTweakBar/src/release64/TwOpenGL.obj
src/dependencies/AntTweakBar/src/release64/TwPrecomp.obj
src/dependencies/tinyobjloader/README.md
src/dependencies/tinyobjloader/tiny_obj_loader.cc
src/dependencies/tinyobjloader/tiny_obj_loader.h
src/input/IblComPtr.h
src/dependencies/AntTweakBar/lib/debug/AntTweakBar.lib
src/dependencies/AntTweakBar/lib64/debug/AntTweakBar64.lib
src/dependencies/AntTweakBar/lib64/release/AntTweakBar64.lib
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.log
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.pch
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.res
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/AntTweakBar.lastbuildstate
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/CL.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/CL.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/Lib-link-cvtres.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/Lib-link-cvtres.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/cl.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/lib.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.command.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.read.1.tlog
src/dependencies/AntTweakBar/src/debug32/AntTweakBar.tlog/rc.write.1.tlog
src/dependencies/AntTweakBar/src/debug32/LoadOGL.obj
src/dependencies/AntTweakBar/src/debug32/LoadOGLCore.obj
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_LineRectPS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_LineRectVS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_TextPS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D11_TextVS.h
src/dependencies/AntTweakBar/src/debug32/TwDirect3D9.obj
src/dependencies/AntTweakBar/src/debug32/TwEventGLFW.obj
src/dependencies/AntTweakBar/src/debug32/TwEventGLUT.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL12.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSDL13.obj
src/dependencies/AntTweakBar/src/debug32/TwEventSFML.obj
src/dependencies/AntTweakBar/src/debug32/TwEventWin.obj
src/dependencies/AntTweakBar/src/debug32/TwFonts.obj
src/dependencies/AntTweakBar/src/debug32/TwMgr.obj
src/dependencies/AntTweakBar/src/debug32/TwOpenGL.obj
src/dependencies/AntTweakBar/src/debug32/TwPrecomp.obj
src/dependencies/AntTweakBar/src/debug32/vc120.idb
src/dependencies/AntTweakBar/src/debug32/vc120.pdb
